[submodule "public"]
	path = public
	url = git@github.com:Dry8r3aD/dry8r3ad.github.com.git
	branch = master
[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
